table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100% !important;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .mesage {
    background: #ccc;
    border-radius: 9px;
    padding: 5px 10px;
    margin-bottom: 14px;
}